<style>
    .bd-callout {
        padding: 1.25rem;
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
        border: 1px solid #eee;
        border-left-width: .25rem;
        border-radius: .25rem;
    }

    .bd-callout-warning {
        border-left-color: rgb(171, 119, 43);
    }
</style>
<div class="p-4">
    <div class="container">
        <div class="bd-callout bd-callout-warning">
            <h3 id="svg-images-and-ie-10">Hello {{user.firstName}}</h3>

            <p>This is an app made with<code class="highlighter-rouge"> Angular 9</code>.</p>
            <p>Here you can register yourself and start posting quotes. You control your submissions</p>
            <p>Do <code class="highlighter-rouge"> like </code> quotes when you can!</p>
            <p>However if you spam, then Admin user will delete your quotes and subsequently you as well</p>
            <p>So be nice :) </p>
        </div>
        <div class="bd-callout bd-callout-warning">
            <h3 id="svg-images-and-ie-10">Performing practical task</h3>
            <p>This app requires NodeJS server backed by MongoDB.</p>
            <code class="highlighter-rouge"> <a target=_blank href="https://github.com/gtldhawalgandhi/quotes-app/blob/master/README.md">Details here!</a> </code>

        </div>
    </div>
</div>